@import "variables";
@import "utils";
@import "font";

body {
  font-family: Eina  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: lighter;
  background: #eee;
}

.history {
  max-width: 375px;
  margin-top: 4em;
}

.header {
  background-color: $blue-color;
  padding: 15px;
  color: $white-color;

  .toolbar {
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
  }

  .balance-section {
    margin-top: 3rem;

    .balance {
      font-size: 32px;
      font-weight: 500;
    }

    .balance-action {
      padding: 12px;
      border-radius: 5px;
      background-color: $transparent-background-color;
      font-size: 18px;
    }
  }

  .trend-icon {
    padding: 10px;
    border-radius: 5px;
    background-color: $transparent-background-color;
  }

  hr {
    border: 0.5px solid $transparent-background-color;
  }
}

.content {
  background: lighten(#E5E5E5, 8.5%);
  padding: 20px;

  .filters {
    margin-bottom: 20px;

    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
    }

    li {
      padding-right: 10px;
      color: #000;

      &.active {
        color: $blue-color;
        font-weight: 600;
      }
    }
  }

  .transactions {
    background-color: #fff;
    border-radius: 5px;
  }

  .transaction {
    color: #000;
    padding: 15px;
    border-bottom: 1px solid #eee;

    p {
      margin: 0;
    }

    .icon {
      border-radius: 5px;
      padding: 10px;
      background-color: rgba($color: $blue-color, $alpha: 0.1234);
      color: $blue-color;
      font-size: 20px;
    }
  }
}

.footer-navigation {
  background: #fff;
  padding: 20px 40px;

  ul {
    list-style-type: none;
    color: $grey-color;
    padding-left: 0;
    margin: 0;
    font-size: 20px;

    li.active {
      color: $blue-color;
    }
  }
}